.calculator .container table,tr,th {
    font-size: 22px;
    margin: auto;
    border: solid 1px rgb(71, 70, 70);
    box-shadow: inset 0px 0px 5px grey;
    padding: 20px;
    
}

.calculator .container table{
    background: linear-gradient(rgb(142, 199, 208), white)
}

.calculator input{
    height: 100%;
    outline: none;
    border: none;
    margin: auto;
}